.page {
  width: 100%;
  max-width: 880px;
  background-color: #000;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
