.profile__button-edit {
  margin-bottom: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background: no-repeat center rgba(0, 0, 0, 0) url(../../../images/Button-vector-edit.svg);
}

@media (max-width: 880px){
  .profile__button-edit {
    width: 18px;
    height: 18px;
    background-size: 7px;
    margin: 0;
    position: absolute;
    right: -29px;
    bottom: 32px;
  }
}
