.popup__close {
  position: absolute;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  box-sizing: border-box;
  background: no-repeat center/32px 32px url(../../../images/Close-Icon.svg);
  top: calc(50% - 165px - 8px - 32px);
  right: calc(50% - 215px - 8px - 32px);
}

@media (max-width: 600px) {
  .popup__close {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    top: calc(50% - 161px - 16px - 20px);
    right: calc(50% - 141px);
  }
}
