.popup__submit_inactive {
  color:#000;
  border: 1px solid #000;
  border-radius: 2px;
  background-color: transparent;
  opacity: .2;
  cursor: not-allowed;
  transition: none;
}

.popup__submit_inactive:hover {
  background-color: transparent;
}

