.popup__input-activity {
  padding: 0;
  width: 358px;
  height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 48px;
}

@media (max-width: 600px) {
  .popup__input-activity {
    width: 238px;
    margin-bottom: 45px;
  }
}
