.cards__heart {
  width: 22px;
  height: 19px;
  margin: auto;
  background: no-repeat url(../../../images/Heart.svg) center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.cards__heart:hover {
  opacity: 0.5;
}

.cards__heart:active {
  background-image: url(../../../images/Heart_black.svg);
  opacity: 1;
}
