.popup__container {
  min-width: 430px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
}

@media (max-width: 600px) {
  .popup__container {
    min-width: 282px;
    align-items: center;
  }
}
