@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/cursor-pointer/cursor-pointer.css);
@import url(../blocks/button-clickable/button-clickable.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__data/profile__data.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__activity/profile__activity.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/__cards/places__cards.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__img/cards__img.css);
@import url(../blocks/cards/__name-form/cards__name-form.css);
@import url(../blocks/cards/__name/cards__name.css);
@import url(../blocks/cards/__heart/cards__heart.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_type/popup__input_type_name.css);
@import url(../blocks/popup/__input/_type/popup__input_type_activity.css);
@import url(../blocks/popup/__submit/popup__submit.css);
