@import url(../vendor/normalize.css);
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/link-clickable/link-clickable.css);
@import url(../blocks/page/page.css);

.header {
  margin: auto;
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.logo {
  display: block;
}

.content {
  padding-top: 40px;
  margin: auto;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__info {
  display: flex;
  align-items: center;
  gap: 30px;


}

.profile__data {
  display: grid;
  grid-template-areas:
  "name button"
  "activity activity";
  align-content: center;
  row-gap: 14px;
  column-gap: 18px;
}

.profile__avatar {
  border-radius: 50%;
}

.profile__name {
  grid-area: name;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
}


.profile__button-edit {
  grid-area: button;
  margin-top: 20px;
  padding: 0;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background: #000;
}

.profile__activity {
  grid-area: activity;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.profile__button-edit-img {
}
.profile__button-add {
  padding: 0;
  margin: 0;
  background: #000;
  height: 50px;
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}
.profile__button-add-img {
}

.places {
  padding-top: 50px;
}
.cards {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 17px;
  justify-content: center;
}
.cards__item {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

.cards__content {
  margin: 0;
  background: #FFFFFF;
  border-radius: 10px;
  box-sizing: border-box;
}

.cards__img {
  margin: 0;
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;

}
.cards__name-form {
  box-sizing: border-box;
  max-width: 282px;
  height: 79px;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  background: no-repeat url(../images/Heart.svg) right 20px bottom 30px;
}

.cards__name {
  padding-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  line-height: 79px;
  width: 70%;
  vertical-align: middle;
}

.footer {
  padding-top: 66px;
  margin-bottom: 60px;
  display: flex;
  /* justify-content: start; */
}

.footer__copyright {
  margin: 0;
  padding: 0;
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

* {
  outline: 1px solid red;
}
