@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/link-clickable/link-clickable.css);

.root {
  width: 100%;
  max-width: 1280px;
  background-color: #000;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.page {
  max-width: 880px;
  margin: auto;
}

@media (max-width: 918px) {
  .page {
    margin: 0 19px;
  }
}

@media (max-width: 319px) {
  .page {
    margin: 0 5px;
  }
}



.header {
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 880px){
  .header {
    padding: 28px 0 31px 8px;
  }
 }


.logo {
  display: block;
}


@media (max-width: 880px) {
  .logo {
    max-width: 104px;
  }
}

.content {
  padding-top: 40px;
  margin: auto;
}

@media (max-width: 880px){
  .content {
    padding-top: 40px;
}
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 880px) {
  .profile {
    flex-direction: column;
    gap: 32px;
  }
}


.profile__info {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 880px){
  .profile__info {
    flex-direction: column;
    gap: 26px;
  }
}

.profile__data {
  display: grid;
  grid-template-areas:
  "name button"
  "activity activity";
  align-content: center;
  row-gap: 14px;
  column-gap: 18px;
}

@media (max-width: 880px) {
  .profile__data {
    column-gap: 10px;
    row-gap: 11px;
    grid-template-areas:
    ". name button"
    ". activity .";
  }
}

.profile__avatar {
  border-radius: 50%;
}

.profile__name {
  grid-area: name;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 293px;
}

@media (max-width: 880px){
  .profile__name {
    font-size: 27px;
    max-width: 189px;
  }
}

.profile__button-edit {
  grid-area: button;
  margin-top: 20px;
  padding: 0;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background: no-repeat center #000 url(../images/Button-vector-edit.svg);
}

@media (max-width: 880px){
  .profile__button-edit {
    width: 18px;
    height: 18px;
    background-size: 7px;
    margin: auto;
  }
}


.profile__activity {
  grid-area: activity;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 335px;
}

@media (max-width: 880px){
  .profile__activity {
    text-align: center;
    font-size: 14px;
    max-width: 189px;
  }
}

.profile__button-add {
  padding: 0;
  margin: 0;
  background: no-repeat center #000 url(../images/Add-Button-vector.svg);
  height: 50px;
  min-width: 150px;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}

@media (max-width: 880px){
  .profile__button-add {
    background-size: 17px;
    min-width: 282px;
  }
}

.places {
  padding-top: 50px;
}

@media (max-width: 880px) {
  .places {
    padding-top: 34px;
  }
}

.cards {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 17px;
  justify-content: center;
}

@media (max-width: 880px) {
  .cards {
    row-gap: 17px;
  }
}

.cards__item {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

.cards__content {
  margin: 0;
  background: #FFFFFF;
  border-radius: 10px;
  box-sizing: border-box;
}

.cards__img {
  margin: 0;
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;

}
.cards__name-form {
  box-sizing: border-box;
  max-width: 282px;
  height: 79px;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  position: relative;
}

.cards__name-form::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 22px;
  height: 19px;
  background: no-repeat url(../images/Heart.svg) center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.cards__name-form:hover::after {
  opacity: .5;
}

.cards__name-form_active::after {
  background: no-repeat url(../images/Heart.svg) #000 center;
}

.cards__name {
  padding-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  line-height: 79px;
  width: 70%;
  vertical-align: middle;
}

.footer {
  padding-top: 66px;
  margin-bottom: 60px;
  display: flex;
}

@media (max-width: 880px) {
  .footer {
    padding-top: 48px;
    margin-bottom: 36px;
  }
}

.footer__copyright {
  margin: 0;
  padding: 0;
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

@media (max-width: 880px) {
  .footer__copyright {
    font-size: 14px;
  }
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .5)
}

.popup_opened {
  display: flex;
}

.popup__container {
  width: 430px;
  height: 330px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

@media (max-width: 600px) {
  .popup__container {
    width: 282px;
    height: 322px;
    align-items: center;
  }
}

.popup__close {
  position: absolute;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  box-sizing: border-box;
  background: no-repeat center url(../images/Close-Icon.svg);
  top: calc(50% - 165px - 8px - 32px);
  right: calc(50% - 215px - 8px - 32px);
}

@media (max-width: 600px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: calc(50% - 161px - 16px - 20px);
    right: calc(50% - 141px);
  }
}

.popup__name {
  margin: 34px 0 47px 36px;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
}

@media (max-width: 600px) {
  .popup__name {
    margin: 25px 0 73px;
    font-size: 18px;
  }
}

.input__text_type_name {
  padding: 0;
  width: 358px;
  height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .input__text_type_name {
    width: 238px;
  }
}

.input__text_type_name::placeholder {
  color: #000;
}

.input__text_type_activity {
  padding: 0;
  width: 358px;
  height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 48px;
}

@media (max-width: 600px) {
  .input__text_type_activity {
    width: 238px;
    margin-bottom: 45px;
  }
}

.input__text_type_activity::placeholder {
  color: #000;
}

.popup__submit {
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  background-color: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.popup__submit:hover {
  opacity: .8;
}

@media (max-width: 600px) {
  .popup__submit {
    width: 238px;
    height: 46px;
    font-size: 14px;
  }
}

.button-clickable {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.button-clickable:hover {
  opacity: .6;
}


* {
  outline: 1px solid red;
}
